<div style="margin: auto;">
    <p style="margin-bottom: 0px; text-align: center;font-size: 100px;">Hey, Welcome Admin</p>
    <p style="margin-top: 0px; text-align: center;font-size: 200px;"><i class="fa-solid fa-user-tie"></i></p>
</div>