<div style="margin: auto;">
    <p style="margin-bottom: 0px; text-align: center;font-size: 50px;">There is no such page here, maybe we deleted it, maybe something different, who knows, maybe you discovered a secret<i class="fa-solid fa-user-secret"></i></p>
    <p style="margin-bottom: 0px; margin-top: 30px; text-align: center;font-size: 200px;"><span><i style="margin-left: 5px;" class="fa-solid fa-4"></i><i style="margin-left: 5px;" class="fa-solid fa-0"></i><i style="margin-left: 5px;" class="fa-solid fa-4"></i></span></p>
</div>