<% if (query_action.status == "Server_Error") { %>
        <h1 style="padding-top: 22.5px; margin: 0; color: white; background-color: red; height: 70px;width: 100%;text-align: center;">Server Error Plase Try Later</h1>
    <% } %>
<div style="margin: auto;">
        <p style="margin-bottom: 0px; text-align: center;font-size: 100px;">Oops, we couldn't find your product</p>
        <p style="margin-bottom: 0px; margin-top: 0px; text-align: center;font-size: 200px;"><i class="fa-regular fa-face-sad-tear"></i></p>
</div>